<html>
  <body>
    <p><a href="/">Back to Home Page</a></p>

    <% fruit.function(ok)  %>
      <h1><%=ok.name %></h1>
      <li><%=ok.color %></li>
      <li><%=ok.calories %></li>
      <li><%=ok.orgin %></li>
    <% ; %>
      
  </body>
</html>