<html>

  
  <body>
  
    <h1>Name: <%= fruit.name %></h1>
    <li>Color: <%= fruit.color %></li>
    <li>Calories: <%= fruit.calories %></li>
    <li>Orgin: <%= fruit.orgin %></li>

    <p><a href="/">Back to Home Page</a></p>

  </body>
</html>